
/*page catalog*/

.catalog .title-section {
    margin-top: 60px;
}

.group-input {
    width: 100%;
    margin-bottom: 32px;
}

.group-input input {
    height: 50px;
    background-color: #fff;
    font-size: 14px;
    line-height: 16px;
    padding-left: 23px;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 75%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    border: 1px solid #C4C4C4;
    box-shadow: inset 0px 2px rgba(0, 0, 0, 0.05);
    border-right: none;
}

.group-input input:hover {
    border: 1px solid #9F9F9F;
    border-right: none;
}

.group-input input[type="email"]::placeholder {
    font-weight: 300;
}

.group-input .btn-search {
    width: 25%;
    height: 50px;
    background-color: #F4343D;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.group-input .btn-search > img {
    display: none;
}

.group-input .btn-search:hover {
    background-color: #D80027;
}

.wrapper {
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    -ms-flex-align: start;
}

.content-universities {
    width: 670px;
}

.content-universities__desc {
    width: 100%;
    padding: 40px 50px;
    border: 1px solid #F2F2F2;
    background-color: #fff;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
}

.content-universities__desc::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -25px;
    border-bottom: 1px solid #A1A1A1;
}

.content-universities__desc:last-of-type {
    margin-bottom: 0;
}

.content-universities__desc:last-of-type::after { 
    width: 0;
}


.content-universities__header {
    -ms-flex-align: start;
    align-items: flex-start;
}

.content-universities__header > img {
    width: 180px;
    margin-right: 20px;
    margin-bottom: 25px;
}

.content-universities__title {
    width: 100%;
}

.content-universities__title h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 6px;
}

.content-universities__list {
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.content-universities__list ul li {
    margin-bottom: 10px;
    color: #9B9B9B;
    font-weight: 500;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.content-universities__list ul li img {
    margin-right: 6px;
}

.content-universities__link {
    border-bottom: 1px solid #F4343D;
    color: #F4343D;
    margin-top: 10px;
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 3px;
    width: 198px;
}

.content-universities__link img {
    margin-right: 8px;
}

.content-universities__link a {
    color: #F4343D;
}

.content-universities__body .content-universities__link,
.content-universities__body .content-universities__list {
      display: none;
}

.content-universities__box {
    color: #9F9F9F;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.content-universities__box img {
    margin-right: 6px;
}

.content-universities__body > p {
    margin-bottom: 14px;
    margin-top: 7px;
}

.content-universities__price {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.content-universities__box .price {
    color: #000;
    font-weight: 700;
    padding-left: 8px;
}

.content-universities__btn.btn-red {
    margin-left: 0;
}

.content-universities__btn.btn-blue {
    display: none;
}

.filter {
    display: none;
}

.suggestions {
    width: 270px;
    border: 1px solid #F2F2F2;
    padding: 0 11px;
    text-align: center;
    background-color: #fff;
    padding-bottom: 25px;
}

.suggestions__title {
    width: calc(100% + 22px);
    background-color: #F2F2F2;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;
    height: 57px;
    margin-bottom: 25px;
    text-align: center;
    line-height: 57px;
    margin-left: -11px;
}

.close-filter {
    display: none;
}

.suggestions .select {
    width: 100%;
    margin-top: 0;
    margin-bottom: 15px;
}

.suggestions hr {
    background-color: #A1A1A1;
    margin-top: 25px;
}

.pickUp-program {
    display: inline-block;
    background-color: #2081F3;
    color: #fff;
    width: 100%;
    line-height: 50px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    margin: 16px 0;
}

.pickUp-program:hover {
    color: #fff;
    opacity: .8;
}

/* modal window style */

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    outline: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    padding: 40px 50px;
}

.modal-header {
    display: block;
    padding: 0;
    border-bottom: 2px solid #A1A1A1;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 20px;
}

.modal-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 15px;
}

.modal-header > p {
    font-size: 17px;
    padding-bottom: 16px;
}

.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
    position: absolute;
    right: 28px;
    top: 25px;
}

.form-questionnaire .group-input,
.form-questionnaire .group-select{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-top: 0;
    margin-bottom: 25px;
}

.form-questionnaire .group-input input {
    width: 400px;
    border-right: 1px solid #C4C4C4; 
}

.form-questionnaire .group-input .select {
    width: 400px;
}

.form-questionnaire .group-input .img-calendar {
    position: absolute;
    background: url(../icons/calendar-1.svg) no-repeat center center;
    background-position: center;
    left: 170px;
    height: 50px;
    width: 15px;
}

input#datepicker {
    padding-left: 45px;
}

input#datepicker::placeholder{
    color: #000;
}

.input-calendar input {
    height: 40px;
    border: 1px solid #9F9F9F;
    z-index: 3;
    background: transparent;
    cursor: pointer;
}

.ui-widget-header .ui-datepicker-prev .ui-icon {
    background: url(../icons/left-arrow.svg) no-repeat center center;
    background-size: 15px;
}

.ui-widget-header .ui-datepicker-next .ui-icon {
    background: url(../icons/right-arrow.svg) no-repeat center center;
    background-size: 15px;
}

.form-questionnaire .group-input > label,
.form-questionnaire .group-select > label,
.form-questionnaire .group-select > label {
    font-weight: 600;
    font-family: 'Exo 2', sans-serif;    
}

.group-input .select {
    min-height: 40px;
}

.form-questionnaire .group-select .jq-selectbox__dropdown,
.form-questionnaire .group-input .jq-selectbox__dropdown {
    top: 100%;
}

.form-questionnaire .group-select .select {
    margin-top: 0;
    margin-bottom: 0;
    width: 280px;
    margin-right: 0;
}

.form-questionnaire .group-input .select {
    margin-bottom: 0;
}

.form-questionnaire .group-textarea {
    width: 100%;
    font-weight: 600;
    font-family: 'Exo 2', sans-serif; 
    text-align: left;
}

.form-questionnaire .group-textarea textarea {
    width: 100%;
    padding-top: 16px;
    padding-left: 22px;
}

.form-questionnaire .group-textarea textarea:focus {
    outline: none;
}

.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    border-top: none;
}

.modal-footer .btn-blue {
    width: 285px;
    height: 50px;
    border: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    line-height: normal;
    margin-right: 0;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    padding-top: 0;
}

.modal-footer .btn-blue:hover {
    opacity: .8;
}

/* page baccalaureate */

.content-universities__desc > h3 {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    border-bottom: 1px solid #A1A1A1;
    padding: 5px;
    margin-bottom: 15px;
}

.content-universities__pricing > li {
    display: inline-block;
    font-weight: 700;
    line-height: 19px;
    padding-right: 40px;
}

.content-universities__box .calendar-date {
    color: #000;
    font-weight: 700;
    padding-left: 8px;
}

/*style for checkbox*/
.label-checkbox {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-right: 25px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
}

.label-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #fff;
    border: 1px solid #9F9F9F;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    margin-left: -2px;
    top: 50%;
    margin-top: -6px;
    width: 5px;
    height: 10px;
    border: solid #2081F3;
    border-width: 0 1.2px 1.2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.label-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.label-checkbox input:checked ~ .checkmark {
    border: 1px solid #2081F3;
}

.payment {
    background-color: #F2F2F2;
    height: inherit;
    width: 200px;
    text-align: center;
    padding-top: 6px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

.payment > p {
    font-size: 11px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif; 
    display: inline-block;    
}

.payment > p span {
    color: #F4343D;
}

/*page name-specialty*/

.content-name-specialty,
.content-name-courses {
    width: 670px;
}

.content-name-specialty .subtitle-section,
.content-name-courses .subtitle-section {
    margin-top: 0;
}

.name-specialty__img {
    width: 100%;
    margin-bottom: 16px;
}

.name-specialty__img > img {
    width: 100%;
}

.name-specialty__list-suggestions {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 21px;
    margin-bottom: 25px;
}

.name-specialty__list-suggestions ul:last-of-type {
    margin-right: 35px;
}

.name-specialty__list-suggestions li {
    margin-bottom: 10px;
    font-weight: 500;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.name-specialty__list-suggestions li > img {
    width: 15px;
    height: 13px;
    margin-right: 4px;
}

.name-specialty__list-suggestions li > span {
    color: #2081F3;
    padding-left: 3px;
}

.name-specialty__group-btn {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 21px;
    margin-bottom: 25px;
}

.name-specialty__group-btn .btn-red {
    width: 280px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    margin-left: 0;
    margin-right: 20px;
}

.name-specialty__group-btn .btn-border-red {
    width: 186px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    font-weight: 700;
}

.name-specialty__requirements {
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 21px;
    margin-bottom: 25px;
    padding-left: 25px;
    font-size: 17px;
    font-weight: 500;
    color: #9B9B9B;
}

.name-specialty__requirements h4 {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 15px;
    color: #000;
}

.name-specialty__requirements > ul li {
    margin-bottom: 10px;
    position: relative;
}

.name-specialty__requirements > ul li::before {
    content: '';
    background: url(../icons/tick-inside-circle-gray.svg) no-repeat center center;
    background-size: contain;
    width: 16px;
    height: 16px;
    position: absolute;
    left: -25px;
    top: 50%;
    margin-top: -8px;
}

.content-name-specialty p,
.content-name-courses p {
    font-size: 17px;
    line-height: 23px;
    padding-bottom: 23px;
}

.content-name-specialty p:last-of-type,
.content-name-courses p:last-of-type {
    padding-bottom: 0;
}

.name-specialty__info {
    width: 270px;
}

.recruiting-center__title {
    font-size: 17px;
    font-weight: 500;
    color: #F4343D;
    border-bottom: 1px solid #F4343D;
    padding-bottom: 4px;
    margin-bottom: 11px;
}

.recruiting-center__title > img {
    margin: 0 5px;
}

.recruiting-center__list {
    border-bottom: 1px solid #A1A1A1;
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.recruiting-center__list li {
    margin-bottom: 11px;
    border: 1px solid #F4343D;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 18px 0;
    padding-left: 45px;
    font-family: 'Exo 2', sans-serif; 
    font-weight: 700;
    text-transform: uppercase;
}

.recruiting-center__list li > img {
    width: 18px;
    height: 19px;
    margin-right: 7px;
}

.recruiting-center__list li > span {
    color: #F4343D;
}

.worth-knowing {
    width: 100%;
    border: 1px solid #F2F2F2;
}

.worth-knowing__title {
    width: 100%;
    height: 57px;
    background-color: #F2F2F2;
    padding-left: 18px;
    font-family: 'Exo 2', sans-serif; 
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.worth-knowing__title > img {
    width: 15px;
    margin-right: 7px;
}

.worth-knowing__list {
    padding: 0 18px;
}

.worth-knowing__list li {
    border-bottom: 1px solid #F2F2F2;
    padding: 15px 0;
}

.worth-knowing__list li:last-of-type {
    border-bottom: none;
}

.name-secondary-education {
    width: 100%;
}

.name-secondary-education .subtitle-section {
    margin-top: 0;
}

.name-secondary-education__header {
    padding-bottom: 35px;
    border-bottom: 1px solid #A1A1A1;
    margin-bottom: 35px;
}

.name-secondary-education__header > img {
    width: 360px;
    margin-right: 40px;
}

.name-secondary-education__header_list {
    width: 310px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.name-secondary-education__header_list ul li {
    margin-bottom: 10px;
}

.name-secondary-education__header_list ul li > img {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}

.name-secondary-education__header_list h4 {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    width: 80%;
}

.name-secondary-education__header_group-btn {
    margin-left: 46px;
    margin-top: 30px;
}

.name-secondary-education__header_group-btn > a {
    display: block;
}

.name-secondary-education__header_group-btn > a.btn-blue {
    width: 208px;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    font-weight: 700;
    margin-right: 0;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.name-secondary-education__header_group-btn > a.btn-blue:hover {
    opacity: .8;
}

.name-secondary-education__header_group-btn > a:first-child {
    font-size: 17px;
    font-weight: 500;
    color: #F4343D;
    margin-bottom: 21px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.name-secondary-education__header_group-btn > a:first-child:hover {
    opacity: .8;
}

.name-secondary-education__desc {
    background-color: #fff;
    border: 1px solid #F2F2F2;
    padding: 40px 20px 40px 49px;
}

.table-title {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 25px;
}

.table-info {
    background-color: #fff;
    margin-bottom: 35px;
}

.table-info th, 
.table-info td{ 
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px 10px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.table-info th:first-of-type,
.table-info td:first-of-type {
    border-left: none;
    text-align: left;
    min-width: 180px;
    padding-left: 20px;
}

.table-info th:nth-of-type(2),
.table-info td:nth-of-type(2) {
    border-left: none;
    text-align: left;
    width: 130px;
    padding-left: 20px;
}

.table-info th:nth-last-of-type(2),
.table-info td:nth-last-of-type(2) {
    border-right: none;
}

.table-info th:last-of-type,
.table-info td:last-of-type {
    border: none;
    padding: 4px 0 4px 10px;
}

.btn-table {
    width: 198px;
    display: inline-block;
    line-height: 50px;
}

.name-secondary-education__desc p{
    font-size: 17px;
    line-height: 23px;
    padding-bottom: 20px;
}

.name-secondary-education__desc p:last-of-type {
    padding-bottom: 0;
}

.image-left {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    -webkit-box-align: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.image-left > img {
    width: 300px;
    margin-right: 23px;
    margin-bottom: 29px;
}

.image-right {
    float: right;
    width: 300px;
    margin-left: 23px;
    margin-bottom: 29px;
}

.photo-gallery {
    margin-top: 60px;
    width: 100%;
}

.photo-gallery__title {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 25px;
}

.photo-gallery-image {
    width: 280px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.photo-gallery-link:nth-of-type(3n) > .photo-gallery-image {
    margin-right: 0;
}

.left-box {
    width: 300px;
}


@media only screen and (max-width: 1400px) {

    .content-universities {
        width: 555px;
    }

    .content-universities__desc {
        padding: 30px 20px;
    }

    .content-universities__header > img {
        width: 165px;
        margin-bottom: 20px;
    }

    .suggestions {
        width: 232px;
    }

    .payment {
        width: 150px;
    }

    .payment > p {
        font-size: 10px;
    }

    .content-name-specialty,
    .content-name-courses {
        width: 555px;
    }

    .name-specialty__info {
        width: 232px;
    }

    .recruiting-center__list li {
        padding-left: 25px;
    }

    .name-specialty__list-suggestions ul:last-of-type {
        margin-right: 0;
    }

    .name-secondary-education__header {
        -webkit-box-align: flex-start;
        -moz-box-align: flex-start;
        -ms-flex-align: flex-start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .name-secondary-education__header > img {
        width: 260px;
        margin-right: 20px;
    }

    .name-secondary-education__header_group-btn {
        margin-left: 0;
        margin-top: 20px;
    }

    .name-secondary-education__desc {
        padding: 30px 20px;
    }

    .btn-table {
        width: 130px;
        display: inline-block;
        line-height: 50px;
    }

    .image-left > img,
    .image-right {
        width: 285px;
        margin-right: 20px;
        margin-bottom: 25px;
    }

    .photo-gallery-image {
        width: 240px;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .left-box {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .catalog .title-section {
        margin-top: 40px;
    }

    .content-universities {
        width: 365px;
    }

    .content-universities__header {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .content-universities__header > img {
        width: 180px;
        margin: 0 auto 20px;
    }

    .content-universities__list {
        font-size: 13px;
    }

    .content-universities__link {
        margin-top: 14px;
        font-size: 15px;
        width: 180px;
        margin-bottom: 20px;
    }

    .content-universities__price {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        position: relative;
    }

    .content-universities__btn {
        margin-top: 20px;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: flex-end;
        align-self: flex-end;
    }

    .suggestions__title {
        font-size: 16px;
        height: 48px;
        line-height: 48px;
    }

    .group-input > button {
        font-size: 12px;
    }

    .content-universities__pricing > li {
        display: block;
        padding-right: 0;
        margin-bottom: 5px;
    }

    .payment {
        width: 180px;
        height: 34px;
        margin-top: 14px;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .payment > p {
        font-size: 11px;
    }

    .content-name-specialty,
    .content-name-courses {
        width: 380px;
    }

    .recruiting-center li {
        padding-left: 12px;
    }

    .name-specialty__requirements {
        font-size: 14px;
    }

    .content-name-specialty p,
    .content-name-courses p {
        font-size: 14px;
        line-height: 18px;
        padding-bottom: 18px;
    }

    .name-specialty__list-suggestions {
        font-size: 10px;
    }

    .name-specialty__list-suggestions li > img {
        width: 13px;
        height: 11px;
        margin-right: 4px;
    }

    .recruiting-center__title {
        font-size: 15px;
    }

    .recruiting-center li {
        padding-left: 16px;
        font-size: 12px;
    } 
    
    .name-specialty__info {
        width: 215px;
    }

    .worth-knowing__title {
        font-size: 16px;
    }

    .worth-knowing__list {
        padding: 0px 10px;
    }

    .worth-knowing__list li {
        padding: 10px 0;
        font-size: 12px;
    }

    .name-secondary-education__header {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        position: relative;
    }

    .name-secondary-education__header_list {
        width: 310px;
        -webkit-align-self: flex-start;
        -ms-flex-item-align: flex-start;
        align-self: flex-start;
        margin-top: 15px;
    }

    .name-secondary-education__header_group-btn {
        margin-left: 0;
        margin-top: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .name-secondary-education__header > img {
        width: 300px;
        margin-right: 0;
    }

    .name-secondary-education__header_list {
        width: 100%;
    }

    .image-left {
        display: block;
        margin-bottom: 20px;
    }

    .image-left > img {
        float: left;
    }

    .photo-gallery-image {
        width: 176px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 991.5px) {
    .catalog .title-section {
        margin-top: 30px;
    }

    .group-input {
        width: 360px;
    }

    .group-input input {
        width: 310px;
    }

    .group-input .btn-search {
        width: 50px;
    }

    .group-input .btn-search > img {
        display: block;
        margin: 0 auto;
        width: 20px;
    }

    .group-input .btn-search > span {
        display: none;
    }

    .wrapper {
        position: relative;
    }

    .content-universities {
        width: 100%;
    }

    .filter {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background-color: #F4343D;
        position: absolute;
        top: -82px;
        right: 0;
    }

    .suggestions {
        display: none;
        position: absolute;
        right: 0;
        top: -82px;
        width: 310px;
    }

    .suggestions__title {
        position: relative;
    }

    .close-filter {
        position: absolute;
        right: 15px;
        top: 0;
        display: flex;
        align-items: center;
        height: inherit;
    }

    .form-questionnaire .group-input {
        width: 100%;
    }

    .name-specialty,
    .name-courses {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .content-name-specialty,
    .content-name-courses {
        width: 100%;
    }

    .name-specialty__info {
        width: 100%;
        display: -webkit-box; 
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex; 
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-top: 25px;
    }

    .worth-knowing,
    .recruiting-center {
        width: 47%;
    }

    .recruiting-center__list {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .name-secondary-education__header > img {
        margin: 0 auto;
    }

    .name-secondary-education__header_list h4 {
        width: 100%;
    }

    .name-secondary-education__header_group-btn {
        position: static;
    }

    .image-left > img,
    .image-right {
        float: none;
        margin: 0 auto 15px;
        display: block;
    }

    .name-secondary-education__desc p {
        font-size: 14px;
        line-height: 19px;
        padding-bottom: 15px;
    }

    .left-box {
        width: 100%;
    }

    .name-secondary-education__header_group-btn > a.btn-blue {
        padding-top: 0;
    }

    .photo-gallery-image {
        width: 194px;
    }

    .photo-gallery-link:nth-of-type(2n) > .photo-gallery-image {
        margin-right: 0;
    }

    .photo-gallery-link:nth-of-type(3n) > .photo-gallery-image {
        margin-right: 15px;
    }
}

@media only screen and (max-width: 767.5px) {
    .catalog .banner-slider{
        margin-top: 20px;
    }

    .catalog .title-section {
        margin-top: 20px;
    }

    .mob-screen .image-about-us,
    .mob-screen .news-block {
        display: block;
        width: 350px;
        margin: 20px auto 0;
    }

    .group-input {
        margin-top: 25px;
    }

    .content-name-specialty,
    .content-name-courses {
        margin-top: 20px;
    }

    .name-specialty__list-suggestions {
        font-size: 12px;
    }

    .left-box {
        display: none;
    }

    .name-secondary-education {
        margin-top: 20px;
    }

    .photo-gallery-image {
        width: 224px;
    }

    .mob-screen .worth-knowing {
        width: 300px;
        margin: 20px auto 0;
    }
}

@media only screen and (max-width: 700px) {

    .modal-content {
        padding: 20px 25px;
    }

    .modal-title {
        font-weight: 300;
        font-size: 25px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .form-questionnaire .group-input input {
        width: 100%;
    }

    .form-questionnaire .group-input, .form-questionnaire .group-select {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        align-items: flex-start;
    }

    .form-questionnaire .group-select .select,
    .form-questionnaire .group-input .select {
        width: 100%;
    }

    .form-questionnaire .group-input .img-calendar {
        left: 22px;
        top: 20px;
    }

    .form-questionnaire .input-calendar .arrow-select {
        top: 27px;
    }
}

@media only screen and (max-width: 575px) {
    .photo-gallery-image {
        width: 48%;
        margin-right: 3%;
    }

    .photo-gallery-link:nth-of-type(3n) > .photo-gallery-image {
        margin-right: 3%;
    }
}

@media only screen and (max-width: 450px) {
    .group-input {
        width: 80%;
    }

    .group-input input {
        width: 80%;
    }

    .suggestions {
        width: 100%;
    }

    .content-universities__header .content-universities__list,
    .content-universities__header .content-universities__link {
        display: none !important;
    }

    .content-universities__body .content-universities__link,
    .content-universities__body .content-universities__list {
        display: block;
    }

    .content-universities__body {
        display: none;
    }

    .content-universities .content-universities__desc:first-of-type .content-universities__body {
        display: block;
    }

    .content-universities__btn.btn-blue {
        width: 100%;
        height: 32px;
        border: none;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
        line-height: normal;
        margin-right: 0;
        font-size: 11px;
        font-weight: 700;
        cursor: pointer;
        padding-top: 0;
        position: relative;
        display: block;
        margin-top: 10px;
    }

    .content-universities .content-universities__desc:first-of-type .content-universities__btn.btn-blue {
        display: none;
    }

    .content-universities__btn.btn-blue::after {
        content: '\f0d7';
        font-family: 'FontAwesome', sans-serif;
        padding-left: 10px;
    }

    .content-universities__header > img {
        width: 240px;
        margin: 0 auto 20px;
    }

    .content-universities__btn.btn-red {
        width: 100%;
        margin-left: 0;
    }
    
    .content-universities__box {
        font-size: 12px;
    }

    .content-universities__box .price {
        font-size: 13px;
    }

    .content-universities__body > p {
        font-size: 12px;
    }

    .group-input .btn-search {
        width: 50px;
        height: 36px;
    }

    .group-input input {
        width: 80%;
        height: 36px;
    }

    .group-input .btn-search > img {
        display: block;
        margin: 0 auto;
        width: 16px;
    }

    .filter {
        top: -75px;
    }

    .modal-content {
        padding: 20px 10px;
    }

    .payment {
        width: 100%;
        height: 34px;
        margin-top: 14px;
        position: static;
        margin-top: 14px;
    }

    .input-calendar input {
        height: 40px;
    }

    .name-specialty__info {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .worth-knowing, .recruiting-center {
        width: 290px;
    }

    .name-specialty__list-suggestions {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}

@media only screen and (max-width: 426px) {
    .mob-screen .image-about-us,
    .mob-screen .news-block {
        width: 100%;
    }

    .name-specialty__group-btn {
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
    }

    .name-specialty__group-btn .btn-red {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

   .name-specialty__group-btn .btn-border-red {
       width: 100%;
    }

    .photo-gallery-image {
        width: 290px;
        margin: 0 auto 15px;
        display: block;
    }

    .photo-gallery-link:nth-of-type(3n) > .photo-gallery-image,
    .photo-gallery-link:nth-of-type(2n) > .photo-gallery-image {
        margin: 0 auto 15px;
        display: block;
    }

    .name-secondary-education__header_group-btn {
        position: static;
        margin: 20px auto 0;
    }
    .mob-screen .worth-knowing {
        width: 100%;
        margin: 20px auto 0;
    }

}

@media only screen and (max-width: 375px) {
    .photo-gallery-image,
    .name-secondary-education__header > img,
    .image-left > img, 
    .image-right {
        width: 100%;
    }

}

@media only screen and (min-width: 701px) {
    .modal-dialog {
        max-width: 680px;
        margin: 1.75rem auto;
    }
}