main.about-us,
.our-projects {
    background: -moz-linear-gradient(to top, #F7F7F7, #fff);
    background: -o-linear-gradient(to top, #F7F7F7, #fff);
    background: -webkit-linear-gradient(to top, #F7F7F7, #fff);
    background: linear-gradient(to top, #F7F7F7, #fff);
    padding-bottom: 80px;
}

.left-menu {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #A1A1A1;
    width: 300px;
}
.btn-left-menu {
    display: none;
}
.left-menu li{
    width: 100%;
    border: 1px solid #2081F3;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    border-bottom: none;
}

.left-menu li:last-of-type {
    border-bottom: 1px solid #2081F3;
}

.left-menu li:hover {
    background-color: #2081F3;
}

.left-menu li.active {
    background-color: #2081F3;
    border: none;
}

.left-menu li a {
    padding: 18px 27px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    font-family: 'Exo 2', sans-serif;
    display: block;
    color: #000;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    position: relative;
}

.left-menu li a::after {
    content: '\f0da';
    font-family: 'FontAwesome', sans-serif;
    position: absolute;
    right: 25px;
    top: 50%;
    margin-top: -5px;
    line-height: 10px;
}

.left-menu li a:hover {
    color: #fff;
}

.left-menu li.active a {
    color: #fff;
}

.reviews {
    padding: 20px;
    border: 1px solid #F2F2F2;
    background-color: #fff;
    margin-bottom: 25px;
    width: 300px;
}

.image-about-us {
    width: 300px;
    padding-top: 25px;
    border-top: 1px solid #A1A1A1;
    margin-bottom: 25px;
    display: block;
}

.image-about-us img {
    width: 100%;
}

.box-description {
    margin-left: 40px;
}

.title-section {
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    margin-bottom: 15px;
}

.text-section {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 20px;
}

.subtitle-section {
    font-size: 32px;
    line-height: 38px;
    font-weight: 300;
    padding-bottom: 8px;
    border-bottom: 2px solid #A1A1A1;
    margin-bottom: 25px;
    margin-top: 60px;
}

.slider-certificates {
    width: 90%;
    margin: 0 auto;
}

.img-box {
    margin: 0 32px;
}

.img-box img {
    width: 100%;
}

.slider-partners {
    background-color: #fff;
    border: 1px solid #C4C4C4;
    padding: 45px 55px;
}

.slider-partners .slick-prev {
    left: 20px;
}

.slider-partners .slick-next {
    right: 20px;
}

/*page our-projects*/

.projects .subtitle-section {
    margin-top: 0;
}

.content-our-projects {
    width: 100%;
    padding: 40px 50px;
    border: 1px solid #F2F2F2;
    background-color: #fff;
}

.box-info {
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #A1A1A1;
}

.box-info:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.box-info__img {
    width: 185px;
    margin-right: 21px;
}

.box-info__img img {
    width: 100%;
}

.box-info__desc {
    width: 76%;
}

.box-info__desc h4 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}

.box-info__desc_btn {
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
}

.box-info__desc_btn .date {
    margin-bottom: 0;
}

.btn-red {
    width: 124px;
    height: 32px;
    line-height: 32px;
    background-color: #F4343D;
    font-size: 11px;
    font-weight: 700;
    font-family: 'Exo 2', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    margin-left: 30px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.btn-red:hover {
    background-color: #D80027;
    color: #fff;
}

@media only screen and (max-width: 1400px) {
    .left-menu,
    .reviews,
    .image-about-us {
        width: 100%;
    }

    .box-description {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 1200px) {

    .link-page {
        padding: 30px 0;
        font-weight: 300;
    }

    .box-description {
        margin-left: 0;
    }

    .img-box {
        margin: 0 26px;
    }

    .content-our-projects {
        padding: 20px;
    }

    .box-info__img {
        margin-right: 15px;
    }

    .box-info__desc {
        width: 65%;
    }
}

@media only screen and (max-width: 992px) {
    .link-page {
        padding: 25px 0;
        font-weight: 300;
    }

    .left-menu li a {
        padding: 12px 20px;
    }

    .left-menu li a::after {
        right: 20px;
    }

    .reviews {
        padding: 10px;
        margin-bottom: 20px;
    }

    .reviews .content-slider__desc h5 {
        font-size: 14px;
    }

    .reviews .content-slider__desc span {
        font-size: 11px;
    }

    .reviews .content-slider__img {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .reviews .content-slider__text {
        font-size: 11px;
    }

    .title-section {
        font-size: 28px;
        line-height: 30px;
        font-weight: 300;
        margin-bottom: 12px;
    }

    .text-section {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
    }

    .subtitle-section {
        font-size: 24px;
        line-height: 26px;
        font-weight: 300;
        padding-bottom: 5px;
        border-bottom: 1px solid #A1A1A1;
        margin-bottom: 20px;
        margin-top: 35px;
    }

    .slider-partners {
        background-color: #fff;
        border: 1px solid #C4C4C4;
        padding: 25px 45px;
    }

    .slider-partners .slick-prev {
        left: 10px;
    }

    .slider-partners .slick-next {
        right: 10px;
    }

    .box-info__desc h4 {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 767.5px) {
   .btn-left-menu {
        background-color: #2081F3;
        border: none;
        display: block;
   }

   .btn-left-menu a {
        padding: 12px 20px;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        font-family: 'Exo 2', sans-serif;
        color: #fff;
        display: block;
        position: relative;
   }

   .btn-left-menu a::after {
        content: '\f0d7';
        font-family: 'FontAwesome', sans-serif;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -5px;
        line-height: 10px;
        transition: .3s;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -ms-transition: .3s;
        -o-transition: .3s;
    }

    .btn-left-menu.return a::after {
       transform: rotate(180deg);
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
    }

    .left-menu {
        margin-bottom: 0;
        padding-bottom: 0;
        border: none;
    }

   .left-menu li a {
        padding: 12px 20px;
        font-size: 12px;
        line-height: 16px;
    }
    .left-menu {
        display: none;
    }

    .left-menu li.active {
        display: none;
    }

    .reviews {
        padding: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .reviews .content-slider__img {
        width: 80px;
        height: 80px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .reviews .content-slider__desc h5 {
        font-size: 16px;
    }

    .reviews .content-slider__desc span {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .box-info {
        flex-flow: column;
    }

    .box-info__img {
        width: 200px;
        margin: 20px auto;
    }

    .box-info__desc {
        width: 100%;
    }
}